<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Human Prediction using Computer Vision</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/1.jpg') }} alt="PREDICT 5 Logo"
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; PREDICT 5 Academy</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<h2>DEPLOYMENT COMPUTER VISION</h2>
				<h4>Human Pose Motion</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					human motion and pose estimation has progressed rapidly in the last few years, there has been no
					systematic quantitative evaluation of competing methods to establish the current state of the art.
					We present data obtained using a hardware system that is able to capture synchronized video and
					ground-truth 3D motion.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>

			</div>
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<div align="center">
					<img src={{ url_for('static', filename='/images/human.png') }} height="300" ></img>
				</div>
			</div>
		</div>
		<br>
	</div>


	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<h3 style="margin-left: 50px;">Upload Gambar </h3>
					<form style="margin-left: 50px;">
						<!-- Input atau Upload Gambar dari Pengguna -->
						<img src={{ url_for('static', filename='/images/3.JPG') }} width="300" ></img>
						<p>silahkan upload sebuah gambar</p>
						<p>
							<input type="file" id="input_gambar" name="file">
						</p>
						</br>
						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
					</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
					<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		</br>
		</br>
		</br>
		</br>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src={{ url_for('static', filename='/images/image (1).png') }} alt="Erni">
            <div class="carousel-caption d-none d-md-block slidetext">
              <h1>Meet the team, PREDICT 5!</h1>
              <p style="font-weight: bold;">ERNI NURAINI & 					AZKA RIZKI SABILUS SULAEMAN</p>
              <p style="font-size: 10px;">Alone we can do so little; together we can do so much!</p>
            </div>
          </div>

		<div class="item">
            <img src={{ url_for('static', filename='/images/image (2).png') }} alt="Chicago">
            <div class="carousel-caption d-none d-md-block slidetext">
              <h3>Meet the team, PREDICT 5!</h3>
              <p style="font-weight: bold;">ERNI NURAINI & 					AZKA RIZKI SABILUS SULAEMAN</p>
              <p style="font-size: 10px;">Alone we can do so little; together we can do so much!</p>
            </div>
          </div>

		</div>
	<div
	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
